body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
}

section a {
  color: black;
}

header.header {
  background-color: #8a0d0d;
  position: relative;
  width: auto;
  height: 200px;
}

.logo {
  color: #ffffff;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 10px;
}

.nombre {
  color: white;
  width: 200px;
  height: 100px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.menu ul {
  background-color: rgb(49, 2, 2);
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  height: 25px;
  list-style: none;
  gap: 15px;
}

a:hover {
  color: gray;
}

a {
  color: white;
}

.hero img {
  height: 300px;
  width: 100%;
}

.bookingoption_rural {
  width: auto;
  height: 200px;
  background-color: rgb(182, 175, 59);
  margin: 20px;
  border: 3px solid rgb(246, 230, 11);
  border-radius: 50px 1px;
  position: relative;
}

.bookingoption_rural h2 {
  top: 30px;
  left: 20px;
  position: absolute;
}

.bookingoption_rural p {
  bottom: 30px;
  left: 20px;
  position: absolute;
}

.fa-house-flag {
  color: rgb(142, 125, 17);
  left: 30px;
  top: 20px;
  position: absolute;
}

.bookingoption_camping {
  width: auto;
  height: 200px;
  background-color: rgb(87, 173, 67);
  margin: 20px;
  border: 3px solid rgb(9, 172, 17);
  border-radius: 50px 1px;
  position: relative;
}

.bookingoption_camping h2 {
  top: 30px;
  left: 20px;
  position: absolute;
}

.bookingoption_camping p {
  bottom: 30px;
  left: 20px;
  position: absolute;
}

.fa-tents {
  color: rgb(142, 125, 17);
  left: 30px;
  top: 20px;
  position: absolute;
}

.bookingoption_hotel {
  width: auto;
  height: 200px;
  background-color: rgb(35, 68, 135);
  margin: 20px;
  border: 3px solid rgb(10, 162, 218);
  border-radius: 50px 1px;
  position: relative;
}

.bookingoption_hotel h2 {
  top: 30px;
  left: 20px;
  position: absolute;
}

.bookingoption_hotel p {
  bottom: 30px;
  left: 20px;
  position: absolute;
}

.fa-hotel {
  color: rgb(23, 7, 91);
  left: 30px;
  top: 20px;
  position: absolute;
}

aside.review {
  background-color: grey;
  border-top: 8px solid rgb(46, 45, 45);
  border-bottom: 8px solid rgb(46, 45, 45);
  position: relative;
  width: auto;
  height: 400px;
}

aside.review h2 {
  color: rgb(187, 183, 183);
}

.fa-user {
  color: black;
  position: absolute;
  left: 10px;
  font-size: 50px;
}

div.stars1 {
  position: absolute;
  color: white;
  left: 70px;
  top: 100px;
}

aside.review p {
  display: inline-block;
  padding: 50px;
}

div.stars2 {
  position: absolute;
  color: white;
  left: 70px;
  top: 290px;
}
